<!DOCTYPE html>
<html lang="en">


<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Area</title>


</head>
<br>

<body>
      <br>
      <!-- Header -->
      <h1><b> Eateries Near Novoland</b></h1>

      <hr>


      <div class="pageContent">
            <div>

                  <p> <b> Captain Brian's Seafood Market & Restaurant </b></p>
                  <ul>
                        <li> Service options: Dine-in · Curbside pickup · Delivery </li>
                        <li>Address: 8421 N Tamiami Trail, Sarasota, FL 34243</li>
                        <li>Hours: Closes soon ⋅ 8PM ⋅ Opens 11AM Wed</li>
                        <li>Options for vegan and vegetarians, plus gluten-free options </li>
                        <h4> <b> Menu: </b> <a
                                    href=" http://www.captainbriansseafood.com/seafood-dishes-sarasota-fl-lunch-menu"
                                    target="_blank">Captain Brian's</a></h4>
                        <iframe
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.898254984996!2d-82.55832768483846!3d27.37889278292903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fdc21f5ade7%3A0xbaaf1fb2945eec97!2s5131%20N%20Tamiami%20Trail%2C%20Sarasota%2C%20FL%2034234!5e0!3m2!1sen!2sus!4v1678235294950!5m2!1sen!2sus"
                              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>



                  <p> <b> Mama G's Coffee Bakery </b></p>
                  <ul>
                        <li> Service options: Dine-in · Curbside pickup · Delivery </li>
                        <li> Address: 8431 N Tamiami Trail #2015, Sarasota, FL 34243</li>
                        <li>Hours: Monday-Saturday 6AM- 4PM, closed Sunday</li>
                        <h4> <b> Menu: </b> <a href=" https://www.mamagscoffee.com/" target="_blank">Mama G's Coffee
                                    Bakery</a>
                        </h4>

                        <iframe
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.5223342427325!2d-82.56163918483824!3d27.390629382924175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd65ddb5171%3A0x5d94b455b9ebc881!2sMama%20G&#39;s%20Coffee%20Bakery!5e0!3m2!1sen!2sus!4v1678235423923!5m2!1sen!2sus"
                              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>

                  <p> <b> Rico's Pizzeria And Pasta House</b></p>
                  <ul>
                        <li> Service options: Dine-in · Takeout · Delivery</li>
                        <li>Address: 5401 Bay Shore Road McKay Visitor's Pavilion, Sarasota, FL 34243</li>
                        <li>Hours: Monday-Sunday 11AM-10PM</li>

                        <h4> <b> Menu: </b> <a href="https://www.ricospizzapie.com/rico-s-tamiami-trail"
                                    target="_blank">Rico's Pizzeria And Pasta
                                    House</a></h4>
                        <iframe
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56627.05738477427!2d-82.56666124179688!3d27.49443210000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33c8ca347a34f%3A0xee5ccac24cc61e94!2sRico&#39;s%20Pizzeria%20%26%20Pasta%20House!5e0!3m2!1sen!2sus!4v1678235491326!5m2!1sen!2sus"
                              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>




            </div>

      </div>


      <hr>
      <div>

            <h1>FUN PLACES</h1>
      </div>


      <hr>
      <br>
      <div>

            <h1>TRANSPORATION</h1>
      </div>

      <hr>
      <br>

      <div>
            <h1> FOOD FOREST</h1>

      </div>


      <hr>
      <br>

      <div>

            <h1> GORCERIES</h1>

      </div>



</body>

</html>