<div class="log">
    <div class="left">
        <h1>Leaderboard</h1>
        <div class="group"><b>Sebastian:</b><br>
            Task1: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task2: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task3: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task4: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task5: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
        </div>
        <div class="group"><b>Andrew:</b><br>
            Task1: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task2: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task3: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task4: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task5: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
        </div>
        <div class="group"><b>Zach:</b><br>
            Task1: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task2: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task3: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task4: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task5: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
        </div>
        <div class="group"><b>Mario:</b><br>
            Task1: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task2: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
            Task3: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task4: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task5: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
        </div>
        <div class="group"><b>Luigi:</b><br>
            Task1: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task2: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task3: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
            Task4: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task5: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
        </div>
        <div class="group"><b>Hunter:</b><br>
            Task1: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task2: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task3: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task4: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
            Task5: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
        </div>
        <div class="group"><b>Goo-Man:</b><br>
            Task1: <img src="/assets/Imgs/star.png" alt="completion icon" width="20" height="20">
            Task2: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
            Task3: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
            Task4: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
            Task5: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
        </div>
        <div class="group"><b>A singular egg:</b><br>
            Task1: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
            Task2: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
            Task3: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
            Task4: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
            Task5: <img src="/assets/Imgs/x.png" alt="completion icon" width="20" height="20">
        </div>

    </div>
    <div class="right">

        <h2>Tasks</h2>
        <hr>
        <h3>Task 1:</h3>
        Pick classes and add them to the calendar!
        <hr>
        <h3>Task 2:</h3>
        Visit the dorm page and select a dorm room!
        <hr>
        <h3>Task 3:</h3>
        Visit the HAM page and see food options!
        <hr>
        <h3>Task 4:</h3>
        Visit the facilities page, Bayfront, kayaking, Boat deck, Bike shop. Check out places to visit when on campus!
        <hr>
        <h3>Task 5:</h3>
        Visit the faculty the page and write down the names of the faculty you want to talk to!

    </div>
</div>