.group {
    width: 90%;
    margin:auto;
    background: lightgoldenrodyellow;
    padding: 15px;
    margin-top:12px;
    justify-content: center;
    border: 2px solid black/*transparent*/;
    border-radius: 15px;
}

.left{
    margin: auto;
    width: 64%;
    float: left;
    padding: 15px;
    margin-top:12px;
    background: lightpink;
    border: 2px solid black/*transparent*/;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}

.right {
    margin: auto;
    width: 34%;
    float: right;
    padding: 15px;
    margin-top:12px;
    border: 2px solid black/*transparent*/;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    background: lightblue;
}
