.iframe-container{
      position: relative;
      width: 100%;
      padding-bottom: 56.25%; 
      height: 0;
     
    }
    .iframe-container iframe{
      position: absolute;
      top:0;
      left: 0;
      width: 40%;
      height: 40%;
  
    }

    .font_size{
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 15px;
      font-family: Arial;


    }

    .log{
      min-height: 100vh;
      min-width: 100vw;
      background-image: url('../../../../assets/Imgs/soft_white.avif');
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      color: white;
      position: relative;
      background-position-x: center;
      margin: auto;
  }


.body{
  margin-left: 20%;
}
.heading{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
#title{
  margin-left: 25%;
  margin-top: 2%;
  font-size: 50px;
}