<mat-toolbar color="primary">
    <span>
      <a routerLink="/">
        <span>NuPath</span>
      </a>
    </span>
    <span>
      <a 
        routerLinkActive="active-link"
        routerLink="/home"
      >
        <span>Home</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/calendar"
      >
        <span>Calendar</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/resources"
      >
        <span>Resources</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/chat"
      >
        <span>Chat</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/leaderboard"
      >
        <span>Leaderboard</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/dorm"
      >
        <span>Dorm</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/faculty"
      >
        <span>Faculty</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/facilities"
      >
        <span>Facilities</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/ham"
      >
        <span>HAM</span>
      </a>
    </span>
  </mat-toolbar>