<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Resources</title>
</head>
<br>

<img src="assets\imgs\NewCollegeLogo.jpg" alt="">

<body>
      <br>
      <!-- Header -->
      <h1><b> NuNovos can contanct Novos</b></h1>
      <hr>
      <div>
            <h2>Discord</h2>

            <h4><a href="https://discord.gg/GWt3YVcwEx" target="_blank">Discord</a></h4>
      </div>
      <div>
            <h2>Facebook</h2>

            <h4><a href="https://www.facebook.com/newcollegeofflorida/" target="_blank">Facebook</a></h4>
      </div>
      <br>
      <div>
            <h2>Instagram</h2>
            <h4><a href="https://www.instagram.com/newcollegeoffl/" target="_blank">Instagram</a></h4>

      </div>
      <div>
            <h2>Student Affairs</h2>

            <p><small>Email Address</small></p>
            <a href="mailto: studentaffairs@ncf.edu">studentaffairs@ncf.edu</a>

      </div>

      <footer>
            <br>
            <br>
            <br>
            <p>Copyright &copy; 2023 cheesecake-cat</p>
      </footer>

</body>

</html>