<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Resources</title>
</head>
<br>

<img src="assets\imgs\NewCollegeLogo.jpg" alt="">

<body>
      <br>
      <!-- Header -->
      <div class="header">
            <h1><b> NuNovos can contact Novos </b></h1>
      </div>
      <hr>
      <div>
            <h2>New College of Florida Twitter<div class="container"><span><a
                                    href="https://twitter.com/NewCollegeofFL?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                                    target="_blank"><i class="fab fa-twitter"></i></a></span></div>
            </h2>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
                  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
                  crossorigin="anonymous" referrerpolicy="no-referrer" />


            <iframe src="https://widget.taggbox.com/125077" style="width:100%;height:600px;border:none;"></iframe>
            <hr>

            <div class="font_placement">

                  <h2><i class='fab fa-discord' style='font-size:24px'></i> Discord</h2>
            </div>
            <h4><a href="https://discord.gg/GWt3YVcwEx" target="_blank">https://discord.com/invite/GWt3YVcwEx</a>
            </h4>

            <div class="socials">
                  <iframe src="https://discord.com/widget?id=691665625701023877&theme=dark" width="350" height="500"
                        allowtransparency="true" frameborder="0"
                        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>
      </div>
      <div>
            <hr>
            <h2>Facebook</h2>
            <h4><a href="https://www.facebook.com/newcollegeofflorida/" target="_blank">Facebook</a></h4>
      </div>
      <br>
      <div>
            <h2>Instagram</h2>
            <h4><a href="https://www.instagram.com/newcollegeoffl/" target="_blank">Instagram</a></h4>

      </div>

      <div>
            <h2>Student Affairs</h2>

            <p><small>Email Address</small></p>
            <a href="mailto: studentaffairs@ncf.edu">studentaffairs@ncf.edu</a>

      </div>
      <footer>
            <br>
            <br>
            <br>
            <p>Copyright &copy; 2023 cheesecake-cat</p>
      </footer>
</body>




</html>